RewriteEngine on

Header always edit Set-Cookie (.*) "$1; HTTPOnly"
Header always edit Set-Cookie (.*) "$1; Secure"
Header always edit Set-Cookie (.*) "$1; SameSite=Strict"
Header always unset X-Frame-Options
Header always append X-Frame-Options SAMEORIGIN

Header always set Cache-Control "max-age=86400"
Header always set Content-Security-Policy "frame-src 'self'; frame-ancestors 'self';"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options nosniff
Header always set Strict-Transport-Security "max-age=31536000 env=HTTPS"

Header always unset Server
Header always unset server

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

# 強制轉 HTTPS 要依照主機設定來開，否則會無限重導向
# 非 443 port 就轉
#RewriteRule .* - [S=1]
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
# 非 https 協定就轉
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

# 檢查請求的檔案是否存在且是一個正常的檔案
# 檢查請求的檔案是否存在且是一個目錄
# 檢查請求的類型是否為圖片
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_URI} ^.*(.gif|.png|.jpg|.jpeg|.svg)$ [NC]

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

# 設定 gzip 壓縮傳輸
<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

# 禁止瀏覽資料夾
Options -Indexes

# 禁止瀏覽 htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# 禁止瀏覽 env
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# 禁止瀏覽 composer 檔案
<FilesMatch "^composer\.(json|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 禁止瀏覽 vendor、include、inc 資料夾底下的檔案
RewriteRule ^vendor/   - [NC,L,R=404]
RewriteRule ^include/  - [NC,L,R=404]
RewriteRule ^inc/      - [NC,L,R=404]

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

# =================================== 其他自定義路由重寫 start =========================================

# 驗證碼圖片
RewriteRule ^api/captcha/([a-zA-Z0-9\-\_]+)$ api/showrandimg.php?type=$1 [NC,L]

# ==================================== 其他自定義路由重寫 end ==========================================

# ===================================================================================================
# ===================================================================================================
# ===================================================================================================

ErrorDocument 401 /admin/404.php
ErrorDocument 403 /admin/404.php
ErrorDocument 404 /admin/404.php
ErrorDocument 500 /admin/404.php
ErrorDocument 502 /admin/404.php
ErrorDocument 503 /admin/404.php
ErrorDocument 504 /admin/404.php
